@{
    ViewBag.Title = "Upload From Excel";
    ViewBag.CurrentUrl = "~/Countries/UploadExcel";

}

<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Countries</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Upload</span>
        </div>
    </div>
</div>
<div class="form-container">
    <h2 class="text-large">Upload Countries From Excel</h2>

    <form asp-action="UploadExcel" asp-controller="Countries" method="post" enctype="multipart/form-data">
        
    @*Excel Fiel*@
    <div class="form-field flex">
        <div class="w-25">
            <label class="form-label pt">Choose An ExcelFile</label>
        </div>
        <div class="flex-1">
            <input type="file" name="excelFile" class="form-input" />
            <div class="text-red">@ViewBag.Err</div>
                <div class="text-red">@ViewBag.Count</div>
        </div>
    </div>
    
    @*Submit button*@
    <div class="form-field flex">
        <div class="w-25"></div>
        <div class="flex-1">
            <button type="submit" class=" button button-green-back">Upload</button>
        </div>
    </div>
    </form>

</div>